/* .wp-block-my-block-plugin-my-block {
    padding: 20px;
    background-color: #f2f2f2;
}

.my-block {
    font-weight: bold;
    color: #333;
}
 */


 .bos-wp-widget-source{
    width:80%;
    margin-bottom:10px;
}


.bos-wp-props-wrapper input{
    margin-right:10px;
    margin-bottom: 10px;
}


.bos-wp-props-wrapper{
    margin-bottom:20px;
}

.btn-wp-remove{
    cursor:pointer;
    padding: 5px;
    display: inline-block;
    scale: 1.2;
}